@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1060px;
  --color-gray-20: #F8F4EB;
  --color-gray-50: #EFE6E6;
  --color-gray-100: #DFCCCC;
  --color-gray-500: #5E0000;
  --color-primary-100: #FFE1E0;
  --color-primary-300: #FFA6A3;
  --color-primary-500: #FF6B66;
  --color-secondary-400: #FFCD5B;
  --color-secondary-500: #FFC132;
  --background-image-gradient-yellowred: linear-gradient(90deg, #FF616A 0%, #FFC837 100%);
  --background-image-mobile-home: url('./assets/HomePageGraphic.png');
  --font-family-dmsans: 'DM Sans', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --content-evolvetext: url("./assets/EvolveText.png");
  --content-abstractwaves: url("./assets/AbstractWaves.png");
  --content-sparkles: url("./assets/Sparkles.png");
  --content-circles: url("./assets/Circles.png");
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}